name: Block Specific Users from Merging

on: [push]

jobs:
  block_merging:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install gspread oauth2client

      - name: Check if user is blocked from merging
        run: python .github/scripts/access_sheet.py
        env:
          GOOGLE_SHEETS_CREDS: ${{ secrets.GOOGLE_SHEETS_CREDS }}
          SPREADSHEET_ID: ${{ secrets.SPREADSHEET_ID }}
          SHEET_ID: ${{ secrets.SHEET_ID }}
          GITHUB_ACTOR: ${{ github.actor }}

      - name: Install GitHub CLI
        uses: cli/cli@v1

      - name: Comment on PR if blocked
        if: steps.check_block_status.outcome == 'failure' && steps.check_block_status.outputs.exit-code == '2'
        run: |
          echo "User ${{ github.actor }} is blocked from merging this PR." | gh pr comment ${{ github.event.pull_request.number }} --body-file=-
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
